.box {
    border: 1px dashed #EBDA814D;
    padding: 20px;
    border-radius: 7px;
}

.box1 {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

body {
    background: #000;
}


.container {
    background: transparent;
}

body * {
    color: #fff;
}

h2,
h3 {
    margin: 0;
}

.box1 h3 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    text-align: left;
}

.title-container span {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.34px;
    text-align: left;
    text-transform: none;
}

.cycle h2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: right;
}

.cycle {
    width: 32%;
    text-align: right;
}

.title-container {
    width: 46%;
}

span.price-data {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    margin-bottom: 10px;
}

.chart-container-new img {
    max-width: 100%;
}


.chart-container-new canvas {
    position: relative;
}

span.price-data.price-danger {
    color: #FE6362;
}

span.price-data.price-success {
    color: #46E09D;
}

ul.menucs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom-menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-menu-inner {
    padding-top: 20px;
    border-top: 1px solid #2D2D2D;
    padding-bottom: 20px;
    background-color: #000;
}

ul.menucs a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
}

ul.menucs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

ul.menucs span {
    width: 100%;
    display: block;
    text-align: center;
}

span.menu-img {
    height: 30px;
}

.form-inner select {
    width: 60%;
    color: #000;
    border-radius: 8px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    padding: 9px;
    margin-right: 20px;
}

button.add-bill {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    color: #000;
    border-radius: 8px;
}

.table-container {
    margin-top: 20px;
    border: 1px dashed #a7942a !important;
    border-radius: 7px;
}

.border_setting {
    border: 1px dashed #a7942a !important;
}

.table-container th,
.table-container td {
    background: #000 !important;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    border: none !important;
}

table.table {
    border: none !important;
    background: #000 !important;
}

tbody {
    background: #000 !important;
    border: none !important;
}

span.price {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
    color: #FE6362;
}

.table-container table {}

.box {
    border: 1px dashed #EBDA814D;
    padding: 20px;
    border-radius: 7px;
}

.box1 {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

body {
    background: #000;
}


.container {
    background: transparent;
}

body * {
    color: #fff;
}

h2,
h3 {
    margin: 0;
}

.box1 h3 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    text-align: left;
}

.title-container span {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.34px;
    text-align: left;
    text-transform: none;
}

.cycle h2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: right;
}

.cycle {
    width: 32%;
    text-align: right;
}

.title-container {
    width: 46%;
}

span.price-data {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    margin-bottom: 10px;
}

span.price-data.price-danger {
    color: #FE6362;
}

span.price-data.price-success {
    color: #46E09D;
}

ul.menucs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom-menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-menu-inner {
    padding-top: 20px;
    border-top: 1px solid #2D2D2D;
    padding-bottom: 20px;
}

ul.menucs a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
}

ul.menucs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

ul.menucs span {
    width: 100%;
    display: block;
    text-align: center;
}

span.menu-img {
    height: 30px;
}


button.add-bill {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    color: #000;
    border-radius: 8px;
}


.table-container th,
.table-container td {
    background: #000 !important;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    border: none !important;
}

table.table {
    border: none !important;
    background: #000 !important;
}

tbody {
    background: #000 !important;
    border: none !important;
}

span.price {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
    color: #FE6362;
}

.box {
    border: 1px dashed #EBDA814D;
    padding: 20px;
    border-radius: 7px;
}

.box1,
.box2,
.box3 {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.midbox .box1 {
    justify-content: space-around;
}

.midbox .title-container {
    width: 46% !important;
}

body {
    background: #000;
}


.container {
    background: transparent;
}

body * {
    color: #fff;
}

h2,
h3 {
    margin: 0;
}

.box1 h3,
.box2 h3,
.box3 h3 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    text-align: left;
}

.title-container span {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.34px;
    text-align: left;
    text-transform: none;
}

.cycle h2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: right;
}

.cycle {
    width: 32%;
    text-align: right;
}

.title-container {
    width: 62%;
}

span.price-data {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    margin-bottom: 10px;
}


span.price-data.price-danger {
    color: #FE6362;
}

span.price-data.price-success {
    color: #46E09D;
}

ul.menucs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom-menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-menu-inner {
    padding-top: 20px;
    border-top: 1px solid #2D2D2D;
    padding-bottom: 20px;
}

ul.menucs a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
}

ul.menucs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

ul.menucs span {
    width: 100%;
    display: block;
    text-align: center;
}

span.menu-img {
    height: 30px;
}

.settings-menu {
    border: 1px dashed #EBDA814D;
    border-radius: 10px;
}

.settings-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-menu {
    padding: 10px 20px;
}

.settings-menu li {
    padding: 10px;
    border-bottom: 1px solid #F4F4F44D;
}

.settings-menu a {
    text-decoration: none;
}

span.menu-icon {
    width: 11%;
    display: inline-block;
}

.sett span.menu-txt {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    position: relative;
    top: -3px;
}

ul.sett li:last-child {
    border: none;
}

.cycle-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}


.left-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-menu li {
    display: inline-block;
}

.tab-menu a {
    padding: 5px 10px;
}

.tab-menu {
    padding: 8px;
}

a.link-act {
    border-bottom: 2px solid #2FA6FF;
}

button.btn.btn-outline {
    border-radius: 8px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 5px;
}

.btn.bill-opn:hover {
    background: #d0d0d0 !important;
}

.btn.bill-opn {
    background: white !important;
}

button.btn {

    color: #000;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: center;
    border-radius: 8px;
    width: 100px;
}

.box1.bhead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

a.toggle-bills {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    text-align: right;
    text-decoration: none;
}

.box1.mt-2 .price-data {
    line-height: 19px;
}

.date-range {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    text-transform: none;
}

.range-box {
    padding: 10px 30px;
}

.month-body {
    display: none;
}

div#billModal {
    padding: 0;
}


div#billModal * {
    color: #000;
}

select#tagFilter option {
    color: #000;
}

button#submitBill {
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    border-radius: 8px;
}

a.go-back {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #2FA6FF !important;
    text-decoration: none !important;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

a.go-back img {
    margin-right: 10px;
    margin-bottom: -2px;
}

div#billModal label,
div#incomeModal label {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    margin-bottom: 0;
    margin-left: 12px;
}

div#incomeModal {
    padding: 0;
}

div#incomeModal * {
    color: #000;
}

div#incomeModal button.primary-btn {
    color: #fff;
}

a.menu-act span {
    color: #2FA6FF;
}

.main-container {

    overflow: auto;
}

h2#incomeFrequency {
    text-transform: capitalize;
}

div#manageTagsModal {
    padding: 0;
}

div#manageTagsModal * {
    color: #000;
}

button.secondary-btn {
    border-radius: 8px;
    background: transparent;
    border: transparent;
    color: #2FA6FF;
    margin-right: 5px;
    text-decoration: none;
}

.income-summary {
    background: transparent;
    border: 1px dashed #EBDA814D;
}

.income-summary p {
    color: #fff;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}

.income-summary span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    color: #fff !important;
}

.income-summary span.leftover-amount.positive {
    color: #46E09D !important;
}

.income-summary span.positive {
    color: #fff;
}

button.accordion-btn {
    background: transparent;
    border-radius: 8px;

    border-bottom: none;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-content tr {
    background: transparent;
}

.panel-content {

    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-content td {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    color: #fff !important;
}

.panel-content .bills {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    color: #FE6362 !important;
}

.panel-content table {
    background: transparent;
}

.panel-content td.positive.right-align {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    color: #46E09D !important;
}

.income-summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div#oneOffIncomeModal {
    padding: 0;
}

div#oneOffIncomeModal * {
    color: #000;
}

button#submitOneOffIncome {
    color: #fff;
}

div#manageTagsModal button.primary-btn {
    color: #fff;
}

div#incomeModal h1 {
    text-align: center;
    margin-bottom: 40px;
}

.table-container tr {
    background: unset !important;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #19191996;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bottom-step {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 0;
}

.bottom-step a {
    background: #000;
    color: #fff;
    padding: 13px 20px;
    border-radius: 8px;
}

.bottom-step span {
    color: #fff !important;
}


.bottom-step span.menu-icon {
    width: auto;
    position: relative;
    top: 4px;
}

.bottom-step .menu-txt {
    padding-left: 10px;
}

table#billtbl {
    margin: 0;
}

.billsx {
    margin-bottom: 20px;
}

table {
    margin: 0;
}

canvas#financialChart {
    position: relative;
    min-height: 500px;
}

div#accordionContainer2 .cycle-info {
    justify-content: flex-start;
}

a.menu-act path {
    fill: #2FA6FF;
}

.cycle-header {
    position: absolute;
    width: 100%;
}

.main-container {
    position: relative;
}

.left-content {
    margin-top: 10px;
}

#billsTable {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

}

.bhead {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

form#incomeEditForm {
    position: relative;
    padding-bottom: 63px;
}

a.hbilllist {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: center;
    color: var(--Blue, #2FA6FF);
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

    .midbox {
        display: block !important;
    }

    .box {
        width: unset !important;
        float: unset !important;

    }

    .midbox .settings-menu {
        width: unset !important;
        margin-top: 11px;
    }

    .midbox .box {
        margin: 10px 0;
    }
}

@media screen and (min-width: 600px) {
    .panel-content table td {
        padding-left: 20px;
    }
}

button.nxsp.primary-btn {
    z-index: 99;
    position: relative;
}


@media (min-width: 768px) and (max-width: 1000px) {
    .midbox {
        display: flex !important;
        flex-direction: column;
    }

    .midbox .settings-menu li {
        padding: 0 !important;
    }

    .midbox {
        width: 95% !important;
    }

    .midbox .box {
        width: 100% !important;
        float: unset !important;
        order: 2;
    }

    .midbox .settings-menu {
        width: 100% !important;
    }

    .midbox ul.sett {
        display: flex !important;
        justify-content: space-evenly !important;
        padding: 7px 0 !important;
    }

    span.menu-txt {
        padding-left: 10px !important;
    }

    .settings-menu li {
        border-bottom: 1px solid #F4F4F44D !important;
        padding-bottom: 10px !important;
    }


    .midbox.box {
        margin: 0 !important;
    }

    .midbox>div {
        margin: 10px 0 !important;
    }
}

ul.sett li a {
    width: 100%;
    display: block;
}

div#incomeModal2 * {
    color: #000;
}

div#incomeModal2 button.nxsp.primary-btn {
    color: #fff;
    z-index: 9999;
    position: relative;
}

div#accordionContainer span.right-align {
    margin-left: 22px;
}

div#incomeModal2 h1 {
    text-align: center;
}

select#existingTag,
select#editFrequency2 {
    appearance: auto;
    -webkit-appearance: auto;
}

.mxc .panel-content tr {
    padding-right: 20px;
}

form#incomeEditForm .nxsp {
    float: right;
}

div#manageTagsModal .delete-btn {
    color: red !important;
    border-color: red;
    padding: 9px 12px;
}

div#manageTagsModal .delete-btn:hover {
    background: red !important;
    color: #fff !important;
}

.image_style {
    width: 50%;
    height: 50%;
    margin-top: -10%;
    margin-left: 25%;
    margin-bottom: -10%;
}

.select_option {
    width: 50%;
    color: black;
    margin-left: -25%;
    border-radius: 8px;
    height: 45px;
    margin-right: 6px;
}