/* ========================================
   General Stylese
======================================== */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
    /* Ensure font rendering is smooth */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
select,
label,
th,
td,
.accordion-btn,
.modal-content,
.bill-summary-header,
.panel-content,
.table-container,
.right-align,
.left-align,
.cycle-summary,
.income-summary,
.reset-btn,
.dark-mode-btn,
.edit-income,
.controls {
    text-transform: none;
    /* Disable text-transform for these elements */
}

a.addbill {
    background: white;
    color: black;
    border-radius: 13px;
    display: block;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    margin: 33px 0;
    font-weight: 500;
}

.cycle-summary {
    padding-top: 15px;
}

.container {
    max-width: 980px;
    margin: 0 auto;

    background: #F5F5F7;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.hidden {
    display: none !important;
}

.right-align {
    text-align: right;
}


.negative {
    color: #333;
}

.leftover-amount.negative {
    color: #f44336 !important;
}

.income-summary p span {
    color: #333;
}

.income-summary p:last-child span.positive,
.panel-content table td.positive {
    color: green;
}

/* Ensure negative amounts are red */
.panel-content table td.negative {
    color: #f44336;
}


/* ========================================
   Header Styles
======================================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header .reset-btn,
header .dark-mode-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

header .reset-btn:hover,
header .dark-mode-btn:hover {
    background-color: #d32f2f;
}

/* ========================================
   Button Styles
======================================== */
button {
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    white-space: nowrap;
}

button:hover {
    background-color: #fff;
}

button[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #2fa6ff;
}

.primary-btn {
    background-color: #0084ff;
    color: #fff;
}

.primary-btn:hover {
    background-color: #2FA6FF;
}

.secondary-btn {
    background-color: transparent;
    color: #007bff;
    text-decoration: underline;
    border: none;
    margin-bottom: -10px;
    margin-left: -10px;
}

.secondary-btn:hover {
    color: #000;
}

.delete-btn {
    background-color: #fff;
    color: #f44336;
}

.delete-btn:hover {
    colour: #333;
}

/* ========================================
   Form Styles
======================================== */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    padding-bottom: 10px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    position: relative;
}

/* Remove the current background image for the dropdown */
.form-group select {
    background-image: none;
    padding-right: 30px;
}

/* Add the arrow icon using Material Icons */
.form-group select::after {
    content: 'arrow_drop_down';
    font-family: 'Material Icons';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* ========================================
   Table Styles
======================================== */
.table-container {
    max-width: 100%;
    overflow-x: auto;
    /* Allows horizontal scrolling if needed */
    white-space: nowrap;
    /* Prevents text from wrapping */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on touch devices */
}

.table-container table {
    width: 100%;
    min-width: 100%;
    /* Ensures the table is at least as wide as its container */
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

th,
td {
    padding: 12px;
    transition: background-color 0.3s, color 0.3s;
}

th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: 500;
    padding: 12px;
    position: relative;
}

tr:nth-child(odd) {
    background-color: #ffffff;
    /* White for the other rows */
}

.bills.negative {
    color: #f44336;
}

th span.sort-arrow {
    content: 'arrow_drop_down';
    font-family: 'Material Icons';
    vertical-align: middle;
    transition: transform 0.3s ease;
}

th span.sort-arrow.asc::after {
    content: 'arrow_drop_up';
}

th span.sort-arrow.desc::after {
    content: 'arrow_drop_down';
}

/* ========================================
   Bill Summary Header Styles
======================================== */
.bill-summary-header {
    display: flex;
    flex-direction: column;
}

.bill-summary-header h2 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.bill-summary-header .primary-btn {
    align-self: flex-start;
    margin-bottom: 10px;
}

/* ========================================
   Accordion Styles
======================================== */
.accordion {
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;
    outline: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
    height: auto;
}

.accordion .leftover {
    margin-left: auto;
    color: #333;
}

.accordion.active,
.accordion:hover {
    background-color: #e5e5e5;
    /* Explicit hover color for light mode */
}

.panel {
    padding: 0 10px;
    background-color: white;
    display: none;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ========================================
   Dropdown Styles
======================================== */

.filter-by-tag {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.filter-by-tag label {
    margin-right: 5px;
    font-weight: bold;
    text-align: right;
    /* Align label text to the right */
}

.filter-by-tag select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
    text-align: right;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: auto;
    /* Adjust to fit the content */
    max-width: 220px;
    /* Set a maximum width */
    min-width: 150px;
    /* Set a minimum width */
}

.filter-by-tag::after {
    content: 'arrow_drop_down';
    font-family: 'Material Icons';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
}

.view-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.view-mode-container h2 {
    margin: 0;
}

.view-mode {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.view-mode label {
    margin-right: 5px;
    font-weight: bold;
    text-align: right;
    /* Align label text to the right */
}

.view-mode select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
    text-align: right;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: auto;
    /* Adjust to fit the content */
    max-width: 220px;
    /* Set a maximum width */
    min-width: 150px;
    /* Set a minimum width */
}

.view-mode::after {
    content: 'arrow_drop_down';
    font-family: 'Material Icons';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* ========================================
   Button Container Styles
======================================== */
.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.right-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-buttons .filter-by-tag {
    display: flex;
    align-items: center;
}

.left-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    /* Add spacing between buttons */
}

/* ========================================
   Chart Styles
======================================== */
.chart-container {
    background: linear-gradient(180deg, #FFC3C3 0%, #FFEB7F 100%);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.financialChart {
    height: 350px;
    width: 100%;
}

/* ========================================
   Modal Styles
======================================== */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 4px;
    width: 80%;
    height: 100%;
    max-width: 500px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: black;
    text-decoration: none;
}

/* ========================================
   Dark Mode Styles
======================================== */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .income-summary p span {
    color: #fff;
}

.dark-mode .delete-btn {
    background-color: #1e1e1e;
}

.income-summary.dark-mode {
    background-color: #e5e5e5;
}

.container.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode th {
    background-color: #333;
    color: #e0e0e0;
}

.dark-mode .accordion {
    background-color: #333;
    color: #e0e0e0;
}

.dark-mode .accordion:hover,
.dark-mode .accordion.active {
    background-color: #444;
}

.dark-mode .panel {
    background-color: #1e1e1e;
}

.dark-mode .reset-btn,
.dark-mode .dark-mode-btn {
    background-color: #007bff;
    color: #fff;
}

.dark-mode table {
    background-color: #171717;
    color: #e0e0e0;
}

.dark-mode th,
td {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode th {
    font-weight: 500;
}

.dark-mode tr:nth-child(even) {
    background-color: #1e1e1e;
    /* Subtle grey for every second row */
}

.dark-mode tr:nth-child(odd) {
    background-color: #1E1E1E;
    /* White for the other rows */
}

.dark-mode .income-summary {
    background-color: #171717;
}

.dark-mode .income-summary p {
    color: #fff;
}

.dark-mode .modal-content {
    background-color: #1E1E1E;
    color: white;
}

.dark-mode .accordion-btn {
    background: #171717;
    color: #e0e0e0;
}

.dark-mode .accordion-btn:focus .accordion-btn:hover {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

#incomeTable td:first-child {
    text-align: left;
    /* Keep the first column left-aligned */
    padding-top: 20px;
}

#incomeTable td:nth-child(2),
#incomeTable td:nth-child(3),
#incomeTable th:nth-child(2),
#incomeTable th:nth-child(3) {
    text-align: right;
    /* Right-align the Amount and % of income columns */
    padding: 8px;
    padding-right: 20px;
    padding-top: 20px;
    vertical-align: top;
}

.chart-box {
    overflow-x: auto;
    /* Enable horizontal scrolling if needed */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS devices */
}

.past-bill {
    color: #B7B7B7;
    /* Gray color */
}

.past-bill .bills.negative {
    color: #B7B7B7 !important;
    /* Ensures the negative amount is also gray */
}

/* ========================================
   Media Queries
======================================== */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    display: none;
    /* Hide the icon by default */
}

@media (max-width: 768px) {
    .chart-container {
        width: 950px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .chart-box {
        width: 100%;
    }

    .cycle-info span.left-align {
        display: none;
    }

    /* Ensuring text wrap for the first column in the accordion panel tables */
    .panel-content table td:first-child {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        overflow-wrap: break-word;
        max-width: 28px;
        /* Adjust as needed to control when wrapping happens */
    }


    #incomeTable td:first-child {
        max-width: 100px;
        /* Set a maximum width for the first column */
        white-space: normal;
        /* Allow text to wrap */
        word-wrap: break-word;
        /* Ensure long words break to the next line */
        word-break: break-word;
        overflow-wrap: break-word;
    }

    #incomeTable {
        table-layout: fixed;
        /* Ensure the table respects the fixed widths */
        width: 100%;
    }

    #incomeTable td {
        padding: 8px;
        padding-left: 20px;
        text-align: left;
        vertical-align: top;
        /* Align the text to the top */
    }

    /* Hide the third column in the table */
    #incomeTable td:last-child,
    #incomeTable th:last-child {
        display: none;
    }

    .edit-income-text {
        display: none;
        /* Hide the text on mobile */
    }

    .material-symbols-outlined {
        display: inline-block;
        /* Show the icon on mobile */
    }
}

@media (max-width: 940px) {
    #billsTable {
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        /* Smooth scrolling for iOS */
        white-space: nowrap;
        /* Prevent text from wrapping */
        margin-top: 30px;
    }

    #billsTable table {
        width: 100%;
        min-width: 600px;
        /* Minimum width to prevent collapsing */
        border-collapse: collapse;
    }

    #billsTable th,
    #billsTable td {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .buttons-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-buttons {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }

    .right-buttons {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        /* Reset margin for mobile */
    }

    .filter-by-tag {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

/* ========================================
   Data Management Styles
======================================== */
.data-management {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.data-management button {
    margin: 5px 0;
    width: 200px;
    /* Adjust width as needed */
}

.reset-btn {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.reset-btn:hover,
.dark-mode-btn:hover {
    color: #d32f2f;
}

/* Dark Mode Styles */
body.dark-mode #billModal {
    color: #f5f5f5;
    border: 1px solid #555;
}

body.dark-mode #billModal .modal-header {
    background-color: #444;
    border-bottom: 1px solid #555;
}

body.dark-mode #billModal .modal-header h2 {
    color: #f5f5f5;
}

body.dark-mode #billModal .modal-body {
    background-color: #333;
    color: #f5f5f5;
}

body.dark-mode #billModal input,
body.dark-mode #billModal select {
    background-color: #444;
    color: #f5f5f5;
    border: 1px solid #555;
}

body.dark-mode #billModal input::placeholder {
    color: #ccc;
}

body.dark-mode #billModal .modal-footer {
    background-color: #444;
    border-top: 1px solid #555;
}

body.dark-mode #billModal .modal-footer button {
    background-color: #555;
    color: #f5f5f5;
    border: none;
}

body.dark-mode #billModal .modal-footer button:hover {
    background-color: #666;
}

.dark-mode .panel-content table td {
    color: #fff;
}

.dark-mode .primary-btn {
    background-color: #fff;
    color: #333;
}

/* ========================================
   New Styles for Updated Design
======================================== */
.cycle-info {
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    /* Optional: ensure text is centered */
}

.cycle-info .left-align {
    text-align: left;
    font-weight: bold;
}

.cycle-info .right-align {
    text-align: right;
}

.income-summary {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.income-summary p {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #333;
}

.income-summary span {
    text-align: right;
    margin-left: auto;
    font-size: 18px;
}

/* ========================================
   Accordion Button Styles
======================================== */
th .sort-arrow {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

th .sort-arrow.asc::after {
    content: 'arrow_drop_up';
    font-family: 'Material Icons';
}

th .sort-arrow.desc::after {
    content: 'arrow_drop_down';
    font-family: 'Material Icons';
}

.accordion-btn {
    width: 100%;
    text-align: left;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    appearance: none;
    color: #333;
    /* Explicit text color */
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.accordion-btn span {
    flex: 1;
}

.accordion-btn .toggle-text {
    font-size: 16px;
    text-align: right;
}

.accordion-btn:focus,
.accordion-btn:hover {
    outline: none;
}

.panel-content {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.paid td {
    text-decoration: line-through;
    color: grey;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
}

.panel-content table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: none;
}

.panel-content table td {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 25px;
    color: #333;
}

.panel-content table th {
    background: #f5f5f5;
    font-weight: bold;
}

.edit-income {
    text-align: right;
    display: block;
}

.edit-income-container {
    display: flex;
    align-items: center;
}

.edit-income-container buttons {
    margin: 0;
}

/* ========================================
   Responsive Bills Table Styles
======================================== */
#billsTable {
    overflow-x: auto;
    white-space: nowrap;
}

#billsTable table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

#billsTable th {
    font-weight: bold;
}

#divideBillCheckbox {
    -webkit-appearance: checkbox;
    /* Ensure checkbox is displayed correctly in Webkit browsers */
    -moz-appearance: checkbox;
    /* Ensure checkbox is displayed correctly in Firefox */
    appearance: checkbox;
    /* Standard appearance */
    width: auto;
    /* Ensure it doesn’t take up unnecessary space */
    height: auto;
    margin-right: 5px;
    /* Add some space between the checkbox and the label text */
}

.outer {
    position: relative;
    width: 600px;
    height: 400px;
}

canvas {
    position: absolute;
}

.percent {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 80px;
    bottom: 0;
}

.billsx {
    border-radius: 10px;
    padding: 20px;
    border: 1px dashed #EBDA814D;
}

.bills-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-transform: capitalize;
    font-size: 12px;
}

.bills-table {
    width: 100%;
    border-collapse: collapse;
}

.positive {
    color: #46e09d;
}

span.price-data.positive {
    color: #46e09d !important;
}

span.price-data.negative {
    color: #fe6362 !important;
}

.negative {
    color: #fe6362;
}

.bill-name {
    text-align: left;
    padding: 10px 0;
    color: white;
    font-size: 12px;
}

.bill-date {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 0;
}

.bill-amount {
    text-align: right;
    font-weight: bold;
    padding: 10px 0;
}

button.hide-button {
    background: transparent;
}

.bills-table tr {
    background: none;

}

span.right_label {
    float: right;
}

.rwrt {
    display: flex;
    margin-top: -57px;
    position: absolute;
    justify-content: space-between;
    width: 100%;
}

img#cavnav {
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-48deg);
    width: 38px;
}

.chart-container-new {
    position: relative;
}

.mxc {
    border: 1px dashed #EBDA814D;
    border-radius: 8px;
}



@media only screen and (max-width: 767px) {
    .income-summary {
        padding: 20px 0 !Important;

    }

    .box {
        padding: 20px 0 !Important;
    }

    .cycle-info {
        justify-content: space-between;
    }

    span.kkk {
        margin-left: 13px;
    }
}