.box {
    border: 1px dashed #EBDA814D;
    padding: 20px;
    border-radius: 7px;
}

.box1 {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

button.delete-btn {
    background: transparent !important;
    border: 1px solid transparent;
    color: #fff !important;
}

body {
    background: #000;
}


.container {
    background: transparent;
}

body * {
    color: #fff;
}

h2,
h3 {
    margin: 0;
}

.box1 h3 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    text-align: left;
}

.title-container span {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.34px;
    text-align: left;
    text-transform: none;
}

.cycle h2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: right;
}

.cycle {
    width: 32%;
    text-align: right;
}

.title-container {
    width: 46%;
}

span.price-data {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    margin-bottom: 10px;
}

.chart-container-new img {
    max-width: 100%;
}


.chart-container-new canvas {
    position: relative;
}

span.price-data.price-danger {
    color: #FE6362;
}

span.price-data.price-success {
    color: #46E09D;
}

ul.menucs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom-menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-menu-inner {
    padding-top: 20px;
    border-top: 1px solid #2D2D2D;
    padding-bottom: 20px;
    background-color: #000;
}

ul.menucs a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
}

ul.menucs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

ul.menucs span {
    width: 100%;
    display: block;
    text-align: center;
}

span.menu-img {
    height: 30px;
}

.form-inner select {
    width: 60%;
    color: #000;
    border-radius: 8px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    padding: 9px;
    margin-right: 20px;
}

button.add-bill {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    color: #000;
    border-radius: 8px;
}

.table-container {
    margin-top: 40px;
}

.table-container th,
.table-container td {
    background: #000 !important;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    border: none !important;
}

table.table {
    border: none !important;
    background: #000 !important;
}

tbody {
    background: #000 !important;
    border: none !important;
}

span.price {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
    color: #FE6362;
}

.table-container table {
    border: 1px dashed #EBDA814D !important;
    border-radius: 7px;
}

.box {
    border: 1px dashed #EBDA814D;
    padding: 20px;
    border-radius: 7px;
}

.box1 {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

body {
    background: #000;
}


.container {
    background: transparent;
}

body * {
    color: #fff;
}

h2,
h3 {
    margin: 0;
}

.box1 h3 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    text-align: left;
}

.title-container span {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.34px;
    text-align: left;
    text-transform: none;
}

.cycle h2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: right;
}

.cycle {
    width: 32%;
    text-align: right;
}

.title-container {
    width: 46%;
}

span.price-data {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    margin-bottom: 10px;
}

span.price-data.price-danger {
    color: #FE6362;
}

span.price-data.price-success {
    color: #46E09D;
}

ul.menucs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom-menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-menu-inner {
    padding-top: 20px;
    border-top: 1px solid #2D2D2D;
    padding-bottom: 20px;
}

ul.menucs a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
}

ul.menucs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

ul.menucs span {
    width: 100%;
    display: block;
    text-align: center;
}

span.menu-img {
    height: 30px;
}


button.add-bill {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
    color: #000;
    border-radius: 8px;
}

.table-container {
    margin-top: 40px;
}

.table-container th,
.table-container td {
    background: #000 !important;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    border: none !important;
}

table.table {
    border: none !important;
    background: #000 !important;
}

tbody {
    background: #000 !important;
    border: none !important;
}

span.price {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
    color: #FE6362;
}

.table-container table {
    border: 1px dashed #EBDA814D !important;
    border-radius: 7px !important;
}

.box {
    border: 1px dashed #EBDA814D;
    padding: 20px;
    border-radius: 7px;
}

.box1,
.box2,
.box3 {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

body {
    background: #000;
}


.container {
    background: transparent;
}

body * {
    color: #fff;
}

h2,
h3 {
    margin: 0;
}

.box1 h3,
.box2 h3,
.box3 h3 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    text-align: left;
}

.title-container span {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.34px;
    text-align: left;
    text-transform: none;
}

.cycle h2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: right;
}

.cycle {
    width: 32%;
    text-align: right;
}

.title-container {
    width: 46%;
}

span.price-data {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    text-align: right;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    margin-bottom: 10px;
}


span.price-data.price-danger {
    color: #FE6362;
}

span.price-data.price-success {
    color: #46E09D;
}

ul.menucs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom-menu-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-menu-inner {
    padding-top: 20px;
    border-top: 1px solid #2D2D2D;
    padding-bottom: 20px;
}

ul.menucs a {
    text-decoration: none;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
}

ul.menucs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

ul.menucs span {
    width: 100%;
    display: block;
    text-align: center;
}

span.menu-img {
    height: 30px;
}

.settings-menu {
    border: 1px dashed #EBDA814D;
    border-radius: 10px;
}

.settings-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-menu {
    padding: 10px 20px;
}

.settings-menu li {
    padding: 10px;
    border-bottom: 1px solid #F4F4F44D;
}

.settings-menu a {
    text-decoration: none;
}

span.menu-icon {
    width: 11%;
    display: inline-block;
}

.sett span.menu-txt {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    position: relative;
    top: -3px;
}

ul.sett li:last-child {
    border: none;
}

.cycle-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-content {
    width: 30%;
}

.left-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-menu li {
    display: inline-block;
}

.tab-menu a {
    padding: 5px 10px;
}

.tab-menu {
    padding: 8px;
}

a.link-act {
    border-bottom: 2px solid #2FA6FF;
}

button.btn.btn-outline {
    border-radius: 8px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-right: 5px;
}

button.btn {
    color: #000;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: center;
    border-radius: 8px;
    width: 100px;
}

.box1.bhead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

a.toggle-bills {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    text-align: right;
    text-decoration: none;
}

.box1.mt-2 .price-data {
    line-height: 19px;
}

.date-range {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    text-transform: none;
}

.range-box {
    padding: 10px 30px;
}

.month-body {
    display: none;
}

div#billModal {
    padding: 0;
}

.modal-content {
    margin: 0;
    width: 100%;
    max-width: unset !important;
    box-sizing: border-box;
    height: 100%;
}

div#billModal * {
    color: #000;
}

.modal-content {
    padding: 3% 20px;
}

select#tagFilter option {
    color: #000;
}

button#submitBill {
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    border-radius: 8px;
}

span.close {
    display: none;
}

a.go-back {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #2FA6FF !important;
    text-decoration: none !important;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

a.go-back img {
    margin-right: 10px;
    margin-bottom: -2px;
}

div#billModal label,
div#incomeModal label {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    margin-bottom: 0;
    margin-left: 12px;
}

div#incomeModal {
    padding: 0;
}

div#incomeModal * {
    color: #000;
}

div#incomeModal button.primary-btn {
    color: #fff;
}

a.menu-act span {
    color: #2FA6FF;
}

.main-container {

    overflow: auto;
}

h2#incomeFrequency {
    text-transform: capitalize;
}

div#manageTagsModal {
    padding: 0;
}

div#manageTagsModal * {
    color: #000;
}

div#incomeModal2 * {
    color: #000;
}

button.secondary-btn {
    border-radius: 8px;
    background: transparent;
    border: transparent;
    color: #2FA6FF;
    margin-right: 5px;
    text-decoration: none;
}

.income-summary {
    background: transparent;
    border: 1px dashed #EBDA814D;
}

.income-summary p {
    color: #fff;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}

.income-summary span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    color: #fff !important;
}

.income-summary span.leftover-amount.positive {
    color: #46E09D !important;
}

.income-summary span.positive {
    color: #fff;
}

button.accordion-btn {
    background: transparent;
    border-radius: 8px;

    border-bottom: none;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel-content tr {
    background: transparent;
}

.panel-content {

    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-content td {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    color: #fff !important;
}

.panel-content .bills {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    color: #FE6362 !important;
}

.panel-content table {
    background: transparent;
}

.panel-content td.positive.right-align {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 24.51px;
    color: #46E09D !important;
}

.income-summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div#oneOffIncomeModal {
    padding: 0;
}

div#oneOffIncomeModal * {
    color: #000;
}

button#submitOneOffIncome {
    color: #fff;
}


.table-container tr {
    background: unset !important;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #19191996;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bottom-step {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 70px;
    text-align: center;
    left: 0;
}

.bottom-step a {
    background: #000;
    color: #fff;
    padding: 13px 20px;
    border-radius: 8px;
}

.bottom-step span {
    color: #fff !important;
}


.bottom-step span.menu-icon {
    width: auto;
    position: relative;
    top: 4px;
}

.bottom-step .menu-txt {
    padding-left: 10px;
}

table#billtbl {
    margin: 0;
}

.billsx {
    margin-bottom: 20px;
}

table {
    margin: 0;
}

canvas#financialChart {
    position: relative;
    min-height: 500px;
}


a.menu-act path {
    fill: #2FA6FF;
}

.main-container {
    padding: 20px;
}

input[type="date"]::-webkit-datetime-edit-year-field:empty::before {
    content: attr(placeholder);
}

select#existingTag {
    appearance: auto;
    -webkit-appearance: auto;
}

select#billFrequency,
select#editFrequency {
    appearance: auto;
    -webkit-appearance: auto;
}

div#manageTagsModal .modal-footer div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div#manageTagsModal .modal-footer div button.delete-btn {
    color: red !important;
    border-color: red;
}

.table-container {
    margin-bottom: 100px;
}

.chart-container-new img#cavnav {
    display: none !important;
}

.cycle-summary.cycle-0 {
    padding-top: 0;
}

h2.cpay {
    padding-left: 12px;
    margin-top: 20px;
    display: block;
}

.img-container {
    position: relative;
    left: 8px;
}

span.kkk {
    margin-left: 15px !important;
}

.mxc .panel-content tr td:nth-child(1) {
    padding-left: 20px;
}

.mxc .panel-content tr td.bills {
    padding-right: 12px;
}

select#tagFilter {
    appearance: auto;
    -webkit-appearance: auto;
}

div#accordionContainer span.right-align {
    padding-left: 20px;
}

.fixed-dollar {
    position: relative;
    display: inline-block;
    width: 100%;
}

.fixed-dollar::after {
    position: absolute;
    content: '$';
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(0, 0, 0);
    pointer-events: none;
}

.input-contain[type="number"] {
    padding-left: 25px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-appearance: textfield;
}

.input-contain[type="number"]::-webkit-inner-spin-button,
.input-contain[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.border_setting {
    border: 1px dashed #a7942a !important;
}